[Desktop Entry]
Type=Application
Name=cm-doom
Comment=enhanced clone of the classic first-person shooter Doom
Icon=dsda-doom
TryExec=cm-doom
Exec=cm-doom %F
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;boom;mbf;prboom;
StartupWMClass=cm-doom
